<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dacing or Falling?</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<div class="header">
		<h3>dancing? falling?</h3>

		<p style="line-height: 1.5; display: inline-block; vertical-align: middle;">Wrong! Good try idiot</p>
		<p><a href="/" style="text-align: center;"><button type="button" class="btn btn-primary">play again?</button></a></p>
	</div>
	
	<div class="row">
		<p>hi</p>
	</div>
</body>

</html>